body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7002C;
    font-size: 0.1vmin;
  }
  
  .circle {
    background-color: white;
    border: 12em solid #4B2E32;
    width: 420em;
    height: 420em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .spark {
    position: absolute;
    transform: skew(-33deg, -10deg) translate(-35em, -100em)
  }
  
  .part {
    position: absolute;
  }
  
  .top {
    border-top: 100em solid transparent;
    border-left: 40em solid transparent;
    border-right: 40em solid #FEC94E;
    border-bottom: 100em solid #FEC94E;
    transform: translate(-40em, -150em);
  }
  
  .top-back {
    transform-origin: 75% 75%;
    border-top: 140em solid transparent;
    border-left: 55em solid transparent;
    border-right: 55em solid #4B2E32;
    border-bottom: 140em solid #4B2E32;
    transform: translate(-57em, -220em);
  }
  
  .mid {
    width: 80em;
    height: 200em;
    background-color: #FEC94E;
  }
  
  .mid-back {
    width: 80em;
    height: 200em;
    background-color: #FEC94E;
    border: 12em solid #4B2E32;
    transform: translate(-12em, -12em);
  }
  
  .bottom {
    border-top: 100em solid #FEC94E;
    border-left: 40em solid #FEC94E;
    border-right: 40em solid transparent;
    border-bottom: 100em solid transparent;
    transform: translate(40em, 150em);
  }
  
  .bottom-back {
    transform-origin: 25% 25%;
    border-top: 140em solid #4B2E32;
    border-left: 55em solid #4B2E32;
    border-right: 55em solid transparent;
    border-bottom: 140em solid transparent;
    transform: translate(30em, 140em);
  }