/* Reset básico para remover margens e preenchimentos padrão */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para o título dentro do cabeçalho */
header h1 {
    margin: 0;
}

/* Estilo para a navegação */
nav {
    background-color: #666;
    padding: 10px 0;
}

/* Estilo para a lista de navegação */
nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo para os itens da lista de navegação */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para os links de navegação */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para cada seção */
section {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
